---
import '../../../styles/pages/home/home_slider_1.css';
import Carrusel  from './carrusel.jsx';
const nombre_empresa = "THE HOUSE EXCLUSIVE";
---
<div class="content_slider_1">
    <div class="content_slider_1_header">
    </div>
    <div class="content_slider_1_titulo">
        <div class="">
            BIENVENIDOS A {nombre_empresa}
        </div>    
    </div>
    <div class="content_slider_1_carrusel">
        <Carrusel client:only>
    </div>
</div>
