---
import '../../../styles/components/buscador.css';
import IconBuscador from '../icons/icon_buscador.astro';
---
<div class="content_buscador">
    <a href="/">
        <div class="div_buscador border-2 border-gray-300  h-10 px-5 rounded-lg text-sm text-gray-400 hover:border-gray-800 hover:text-gray-800">
            <div>
                Buscar producto o servicio... 
            </div>
            <div >
                <IconBuscador/>
            </div>
        </div>
    </a>
</div>