---
import '../../../styles/components/fotosvideos.css';
import IconFotosVideos from '../icons/icon_fotosvideos.astro';
---
<div class="content_fotosvideos">
    <div class="div_fotosvideos">
        <div>
            <IconFotosVideos/>
        </div>
        <div>
            Fotos / Videos
        </div> 
    </div>       
</div>