---
import '../../../styles/components/iniciarsesion.css';
import IconIniciarSesion from '../icons/icon_iniciarsesion.astro';
---
<div class="content_iniciarsesion">
    <div class="div_iniciarsesion">        
        <div>
            Iniciar Sesión
        </div> 
        <div>
            <IconIniciarSesion/>
        </div>
    </div>       
</div>