---
import { Image, Picture } from '@astrojs/image/components';
import heroImage from '../../../assets/img/logo1.png';
---
<div class="content_logo">
    <div class="div_logo">
        <Image src={heroImage} alt="descriptive text" 
        width={60} height={60}/>
    </div>
</div>