---
import '../../../styles/components/logo.css';
import { Image } from '@astrojs/image/components';
const UrlImgLogo = "https://res.cloudinary.com/unidigital/image/upload/v1696542363/software%20completo/logo1_tpy0wq.png";

---
<div class="content_logo">
    <div class="div_logo">
        <a href="/">
            <Image src={UrlImgLogo} alt="descriptive text" 
            width={60} height={60} format={"webp"} fallbackFormat={"jpg"} preload="webp" loading="eager"/>
        </a>
    </div>
</div>