---
import '../../../styles/components/header.css';
import Logo from './logo.astro';
import Categorias from './categorias.astro';
import Buscador from './buscador.astro';
import FotosVideos from './fotosvideos.astro';
import Nosotros from './nosotros.astro';
import IniciarSesion from './iniciarsesion.astro';
---

<nav class="content_navbar drop-shadow-lg">
    <Logo/>
    <Categorias/>
    <Buscador/>
    <FotosVideos/>
    <Nosotros/>
    <IniciarSesion/>
</nav>