---
import '../../../styles/components/nosotros.css';
import IconNosotros from '../icons/icon_nosotros.astro';
---
<div class="content_nosotros">
    <div class="div_nosotros">
        <div>
            Nosotros
        </div> 
        <div>
            <IconNosotros/>
        </div>        
    </div>   
</div>