@import '../colors.css';

.content_buscador{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_buscador:hover{
    background-color: var(--color-6);
}
.div_buscador{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}