@import '../colors.css';
@import '../fonts.css';

.content_categorias{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-navbar);
    font-size: 18px;
    font-weight: 550;
}
.div_categorias_texto:hover{
    background-color: var(--color-6);
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
    user-select: none;
}