@import '../colors.css';
@import '../fonts.css';

.content_categorias{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-navbar);
    font-size: 18px;
    font-weight: 550;
}
.div_categorias_texto:hover{
    background-color: var(--color-6);
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
    user-select: none;
}
.div_categorias_desplegable{
    display: none;
}

.div_categorias_texto:hover .div_categorias_desplegable {
    display: flex; 
}
.div_categorias_direccion{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}