@import '../colors.css';

.content_logo{
    width: 10%;
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.div_logo{
    width: 60px;
    height: 60px;
    background-color: aqua;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}