@import '../colors.css';

.content_nosotros{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_nosotros:hover{
    background-color: var(--color-6);
}
.div_nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    font-family: var(--font-navbar);
    font-size: 18px;
    font-weight: 550;
}

.div_nosotros:hover{    
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
    user-select: none;
}

.div_nosotros_desplegable{
    display: none;
}
.div_categorias_texto:hover .div_nosotros_desplegable{
    display: flex; 
}