:root {
    --color-1: #007bff;
    --color-2: #ff5733;
    --color-3: #f1f1f1;
    --color-4: red;
    --color-5: red;
    --color-6: orange;
    --color-bg: #f9f9f9;
    --color-white: white;
    --color-black: black;
  }