:root {
    --color-1: #000412;
    --color-2: #1b3647;
    --color-3: #748231;
    --color-4: #3f7a78;
    --color-5: #9bc5b0;
    --color-6: #eef6f0;
    
    --color-bg: #f9f9f9;
    
    --color-white: white;
    --color-black: black;
  }