---
// Component imports
import { Layout } from "@globals"
import Footer from "../components/global/Footer/Footer.astro";
import Navbar from "../components/global/Header/Header.astro";
import "../styles/pages/index.css";

---


<Layout title="softwarecompleto.com">
	<div class="body_content">
        <div class="sliders">
            <div class="div_slide color_1">Slide 1</div>
            <div class="div_slide color_2">Slide 2</div>
            <div class="div_slide color_1">Slide 3</div>
            <div class="div_slide color_2">Slide 4</div>
            <div class="div_slide color_1">Slide 5</div>
        </div>
    </div>
</Layout>
