---
// Component imports
import { Layout } from "@globals"
import Footer from "../components/global/Footer/Footer.astro";
import Navbar from "../components/global/Header/Header.astro";
import "../styles/pages/index.css";

---


<Layout title="softwarecompleto.com">
	
	<Navbar/>
		<div class="div">
			Soy Body	
		</div>
		
	<Footer/>
</Layout>
