---
// Component imports
import { Layout } from "@globals"
import Footer from "../components/global/Footer/Footer.astro";
import Navbar from "../components/global/Header/Header.astro"
---


<Layout title="softwarecompleto.com">
	<Navbar/>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
		<div>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus doloribus beatae quas impedit veritatis asperiores recusandae quia ad quisquam dolores! Ex saepe molestiae laudantium perferendis voluptates alias quos accusamus enim!
		</div>
	<Footer/>
</Layout>
