@import '../../colors.css';

.content_slider_1{
    width: 100%;
    height: 100vh;
    background-color: red;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.content_slider_1_header{
    width: 100%;
    height: 12vh;
    background-color: aqua;
}
.content_slider_1_titulo{
    width: 100%;
    height: 10vh;
    background-color:antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_slider_1_carrusel{
    width: 100%;
    height: 50vh;
    background-color:cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}